:root {
  --main-color: #191919;
  --text-color: #dddddd;
  --second-color: #e43d40;
  --df-margin: 10px;
  --df-padding: 10px;
  --df-radius: 5px;
  --df-border: 5px solid var(--second-color);
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--main-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  padding: 4rem;
  display: grid;
  place-content: center;
}
